.fimg{
  transition: all .2s ease-in-out;
}
.fimg:hover{
  transform: scale(1.05);
}
.footerform{
  background: linear-gradient(225deg,#fdc12a,#f37335);
}
.ll a:hover {
  color: #f37335;
  transition: all .4s ease-in-out;
}
.ll a::before{
  content: '';
    width: 1rem;
    height: 2px;
   
    display: inline-flex;
    border-radius: 1rem;
    transition: all .4s ease-in-out;
    
}
.ll a:hover::before{
  width: 2rem;
    transition: all .4s ease-in-out;
}
.content1:hover{
  text-decoration-color: #f37335;
}
.divrighttop{
 width: 100%;
}
@media screen and (min-width:1024px) {
  .divrighttop{
    width: 250%;
   }
}
.divleftdown{
 width: 100%;
}
@media screen and (min-width:1024px) {
  .divleftdown{
    width: 250%;
   }
}