@tailwind base;
@tailwind components;
@tailwind utilities;


.welcome-card  {
    box-shadow: 0 0 1px 1px #c9e2f8;
    transition: box-shadow 400ms;
}

.welcome-card:hover {
    box-shadow: 0 0 2px 3px #c9e2f8;
}
